<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitores</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css}"
        rel="stylesheet" />
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>


</head>

<body class="sb-nav-fixed">
    <div th:replace="~{fragments/navbar}"></div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <div th:replace="~{fragments/sidebar}"></div>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Monitores</h1>
                    <div class="row">
                        <div class="col-md-11">
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="inicio">Dashboard</a></li>
                                <li class="breadcrumb-item active">Monitores</li>
                            </ol>
                        </div>
                        <div th:if="${role != 'monitor'}" class="col-md-1">
                            <div class="row justify-content-left px-3">
                                <!-- Botón "Nuevo" -->
                                <div class="col-md-4 mb-4">
                                    <button class="btn btn-primary btn-block"
                                        onclick="saveModal('saveModal')">Nuevo</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">

                        <div class="card-body">
                            <table id="datatablesSimple" class="table">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Usuario</th>
                                        <th>Matricula</th>
                                        <th>Pasillo</th>
                                        <th>Rol</th>
                                        <th th:if="${role != 'monitor'}">Acciones</th> <!-- Cambio en esta línea -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="monitor : ${monitores}">
                                        <td th:text="${monitor.nombre}"></td>
                                        <td th:text="${monitor.username}"></td>
                                        <td th:text="${monitor.matricula}"></td>
                                        <td th:text="${monitor.pasillo}"></td>
                                        <td th:text="${#strings.toUpperCase(monitor.role.nombre)}"></td>
                                        <td th:if="${role != 'monitor'}" class="actions-column">
                                            <button class="btn btn-primary"
                                                th:attr="data-mNombre=${monitor.nombre}, data-mUsername=${monitor.username},data-mMatricula=${monitor.matricula},data-mPasillo=${monitor.pasillo},data-mRole=${monitor.role.nombre}"
                                                onclick="editModal('editModal',this)">
                                                <i class="bi bi-pencil"></i></button>
                                            <button class="btn btn-danger btn-block"
                                                th:attr="data-monitorID=${monitor.id}"
                                                onclick="deleteCuarto('deleteForm',this)">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Save Modal -->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLabel">Nuevo Cuarto</h5>
                </div>
                <form id="secondForm" th:action="@{/dormitorio/monitores/save}" method="post">

                    <div class="modal-body">

                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'nombre'}">Nombre</label></div>
                            <div class="col"><input type="text" th:id="${'nombre'}" field="nombre" name="nombre"></div>
                        </div>

                        <div class="row py-1 ">
                            <div class="col text-center"><label th:for="${'username'}">Usuario</label></div>
                            <div class="col"><input type="text" th:id="${'username'}" field="username" name="username">
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'password'}">Contraseña</label></div>
                            <div class="col"><input type="text" th:id="${'password'}" field="password" name="password">
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'roleTmp'}">Rol</label></div>
                            <div class="col"><input type="text" th:id="${'roleTmp'}" field="roleTmp" name="roleTmp"
                                    value="monitor" readonly placeholder="Monitor"></div>
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'matricula'}">Matricula</label></div>
                            <div class="col"><input type="text" th:id="${'matricula'}" field="matricula"
                                    name="matricula"></div>
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'pasillo'}">Pasillo</label></div>
                            <div class="col"><input type="text" th:id="${'pasillo'}" field="pasillo" name="pasillo">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Residentes</h5>
                </div>
                <form id="editForm" th:action="@{/dormitorio/monitores/edit}" method="post">
                    <div class="modal-body">

                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'nombre'}">Nombre</label></div>
                            <div class="col"><input type="text" th:id="${'nombre'}" field="nombre" name="nombre"
                                    th:placeholder="${monitor == null} ? '' : #{monitor.placeholder}"></div>
                        </div>

                        <div class="row py-1 ">
                            <div class="col text-center"><label th:for="${'username'}">Usuario</label></div>
                            <div class="col"><input type="text" th:id="${'username'}" field="username" name="username"
                                    th:placeholder="${monitor == null} ? '' : #{monitor.placeholder}">
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'password'}">Contraseña</label></div>
                            <div class="col"><input type="text" th:id="${'password'}" field="password" name="password"
                                    th:placeholder="${monitor == null} ? '' : #{monitor.placeholder}">
                            </div>
                        </div>
                        <div>
                            <input type="hidden" th:id="${'roleTmp'}" field="roleTmp" name="roleTmp" value="monitor"
                                readonly placeholder="Monitor"
                                th:placeholder="${monitor == null} ? '' : #{monitor.placeholder}">
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'matricula'}">Matricula</label></div>
                            <div class="col"><input type="text" th:id="${'matricula'}" field="matricula"
                                    name="matricula" th:placeholder="${monitor == null} ? '' : #{monitor.placeholder}">
                            </div>
                        </div>
                        <div class="row py-1">
                            <div class="col text-center"><label th:for="${'pasillo'}">Pasillo</label></div>
                            <div class="col"><input type="text" th:id="${'pasillo'}" field="pasillo" name="pasillo"
                                    th:placeholder="${monitor == null} ? '' : #{monitor.placeholder}">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>


        </div>

    </div>

    <form id="deleteForm" th:action="@{monitores/delete}" method="post">
        <input type="hidden" th:id="id" th:name="id" value="#{residente.placeholder}">
        <input type="hidden" th:csrf />
        <!-- Agrega más campos si es necesario -->
    </form>

    <script>
        function saveModal(modalId) {
            var modal = document.getElementById(modalId); // Obtener el modal por ID
            var bootstrapModal = new bootstrap.Modal(modal);


            bootstrapModal.show();
        }

        function deleteCuarto(formId, button) {
            var cuarto = button.getAttribute('data-monitorID');
            console.log("id: " + cuarto);

            // Mostrar Sweet Alert antes de enviar el formulario
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción eliminará el registro. ¿Deseas continuar?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    var form = document.getElementById(formId);
                    form.querySelector('#id').value = cuarto;

                    document.getElementById(formId).submit();
                }
            });
        }

        function editModal(modalId, button) {
            var nombre = button.getAttribute('data-mNombre');
            var username = button.getAttribute('data-mUsername');
            var password = button.getAttribute('data-mPassword');
            var roleTmp = button.getAttribute('data-mRole');
            var pasillo = button.getAttribute('data-mPasillo');
            var matricula = button.getAttribute('data-mMatricula');

            // Mostrar el modal
            var modal = document.getElementById(modalId);

            // Establecer valores de residentes en el modal
            modal.querySelector('#nombre').value = nombre;
            modal.querySelector('#username').value = username;
            modal.querySelector('#password').value = password;
            modal.querySelector('#roleTmp').value = roleTmp;
            modal.querySelector('#pasillo').value = pasillo;
            modal.querySelector('#matricula').value = matricula;

            // Mostrar el modal
            var bootstrapModal = new bootstrap.Modal(modal);
            bootstrapModal.show();
        }
    </script>


    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js}"
        crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js}"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/datatables-simple-demo.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</body>

</html>